
@using EmployeeManagement.Resources;

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink(Language.English, "Language", "Employees", new { language = "en" }, null)</li>
    <li>@Html.ActionLink(Language.Arabic, "Language", "Employees", new { language = "ar" }, null)</li>
</ul>
